{{>_navbar}}
{{>_msg}}
<div class="container">
<h2>{{name}}</h2> 
  <div class="row">
    <div class="col-sm">
           <h6>Descrição</h6>  
           <p>{{description}}</p>
           <h6>Data de encerramento</h6>
           <p>{{endDate}}</p>
           <h6>Dono(a)</h6>
           <p>{{owner}}</p>
           <br>
   {{#each items}}
   
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
             <div class="container mt-2">
             </div>
    <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    
    <a href="/item/{{_id}}" class="btn btn-success">Ver item</a>
  </div>
</div>
    {{else}}
    {{/each}}
    
    </div>
  <div class="col-sm">
     
     {{#if admin}}
     <h6>Opções do dono</h6>
     <a class="btn btn-danger" href="/finishauction">Encerrar leilão</a>
     <br>
     <br>
     <a class="btn btn-info" href="/editauction">Editar leilão</a>
     <br>
     <br>
     <button class="btn btn-info">Adicionar itens</button>
     {{/if}}
  
     </div>
  </div>
 <br>
        <br>
        {{>_footer}}
</div>