{{>_navbar}}
{{>_msg}}
<div class="container mt-4">
    <h2>Leil-on</h2>
    {{#if success}}
       <div class="alert alert-success">{{msg}}</div>
    {{/if}}
    {{#if error}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/if}}
    <a href="#" class="list-group-item list-group-item-dark">
                Leilões ativos
            </a>
	{{#each auctions}}
      <a href="/auction/{{_id}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{name}}</h5>
      <small class="text-muted">Dono(a): {{owner}}</small>
    </div>
    <p class="mb-1">{{description}}</p>
    
  </a>
        {{else}}
    {{/each}}
    
</div>
<br>
<br>
        <br>
        {{>_footer}}