
{{>_navbar}}
{{>_msg}}
<div class="container mt-4">
  <div class="card" >
    <div class="card">
    <h5 class="card-header">{{name}}</h5> 
    <div class="card-body">
             <br>
    <h6 class="card-text">Email</h6>
    <p class="card-text">{{email}}</p>
    <h6 class="card-text">CEP</h6>
    <p class="card-text">{{cep}}</p>
    <h6 class="card-text">Telefone</h6>
    <p class="card-text">{{cell}}</p>   
    <h6 class="card-text">Número de transações</h6>
    <p class="card-text">{{numT}}</p> 
    
    <h6 class="card-text">Nota</h6>
    <p class="card-text">{{note}}</p>      
    
    </form>
  </div>
  
</div>

</div>
</div>
<br>
        <br>
        {{>_footer}}